@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


.text-white-50:hover {
    color: rgba(255, 255, 255, 0.77) !important
}

.navbar-brand > img {
    max-width: 6.5rem;
    max-height: auto;
}

.navbar-toggler {
    color: white !important;
}
.navbar-toggler-icon {
    color: white !important;
}

nav form * {
    color: white;
}

form {
    gap: 0.8rem;
}

form > .dropdown > button {
    color: white;
    padding-left: 0;
}

form > .dropdown > button > img {
    max-width: 1.5rem;
    max-height: auto;
}

.dropdown-menu[data-bs-popper] {
    left: -160%;
}

.bi-search-fill::before {
    content: "\F52A";
    font-family: "Feather";
    font-size: 1rem;
}

.bi-text-left::before {
    content: "\F5C7";
    font-family: "Feather";
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.941);
    border: 1px solid rgba(255, 255, 255, 0.941);
    padding: 0.6rem;
    width: 3rem;
    text-align: center;
}

.bi-grid::before {
    content: "\F3FB";
    font-family: "Feather";
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.613);
    border: 1px solid rgba(255, 255, 255, 0.613);
    padding: 0.6rem;
    width: 3rem;
    text-align: center;
}

#mega-container > .container-xxl > .row button {
    background-color: #000000;
    border: 1px solid white;
    color: white;
}

.row {
    flex-wrap: nowrap;
}

.carousel-item {
    width: 95%;
}

.carousel-item img {
    width: 100%;
}

.carousel-control-prev, .carousel-control-next {
    border: 2px solid red;
    width: 5rem;
    position: absolute;
    background-color: #00000067;
}

.carousel-control-next {
    right: -1.1%;
}

@media screen and (max-width: 1399px) {
    .carousel-control-next {
        right: -4%;
    }
}